* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

main section {
    width: 23%;
}

main section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*dodałem dopasowyanie zdjęcia do obrazu by przy przełorzeniu strony na części ereanu tygrys się nie tnoł w pół */
img{
max-width: auto;
max-height: fit-content;
}